# with aws req.

# langchain==0.0.267
# boto3

# flask
# werkzeug
# ipykernel
# euriai

langchain
langchain-core
langchain-community
langchain-openai
langchain-text-splitters


openai


python-dotenv
#it's easy to switch database if if use langchain-database instend direct database
langchain-chroma

tiktoken

supabase


# Document Parsers
pypdf
pymupdf
pdfplumber
docx2txt
unstructured
streamlit
